@model MVCRepository.HROfficer

@{
    ViewBag.Title = "Home1";
    Layout = "~/Views/Shared/_HRlayout.cshtml";
}

<h2>Home</h2>

<div>
    <h4>HROfficer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HR_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_branch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HR_acc_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
