@model MVCRepository.BranchManager
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Managerlayout.cshtml";
}

<h2>EditProfile</h2>

<form method="post">
    <input type="hidden" name="Manager_Id" value="@Model.Manager_Id" />
    <table>
        <tbody>
            <tr>
                <td><h5>Name</h5></td>
                <td><input type="text" name="Manager_Name" value="@Model.Manager_Name" readonly /></td>
            </tr>
            <tr>
                <td><h5>Password</h5></td>
                <td><input type="text" name="Manager_password" value="@Model.Manager_password" readonly /></td>
            </tr>
            <tr>
                <td><h5>Address</h5></td>
                <td><input type="text" name="Manager_address" value="@Model.Manager_address" required /></td>
            </tr>
            <tr>
                <td><h5>Mobile(BD Formate, Ex=019xxxxxxxx)</h5></td>
                <td><input type="text" name="Manager_mobile" maxlength="11" value="@Model.Manager_mobile" required /></td>
            </tr>
            <tr>
                <td><h5>Balance</h5></td>
                <td><input type="number" name="Manager_Balance" value="@Model.Manager_Balance" readonly /></td>
            </tr>

            <tr>
                <td colspan="2"><input style="background-color: #3ac4ee;border-radius: 2px;" type="submit" name="Save" /></td>
            </tr>
        </tbody>
    </table>
</form>


