@model MVCRepository.Officer

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Officer.cshtml";
}
<h2>EditProfile</h2>
<form method="post">
                <input type="hidden" name="Officer_Id" value="@Model.Officer_Id" />
    <table>
        <tbody>
            <tr>
                <td><h5>Name</h5></td>
                <td><input type="text" name="Officer_Name" value="@Model.Officer_Name" readonly/></td>
            </tr>
            <tr>
                <td><h5>Password</h5></td>
                <td><input type="text" name="Officer_password" value="@Model.Officer_password" readonly /></td>
            </tr>
            <tr>
                <td><h5>Address</h5></td>
                <td><input type="text" name="Officer_address" value="@Model.Officer_address" required /></td>
            </tr>
            <tr>
                <td><h5>Mobile(BD Formate, Ex=019xxxxxxxx)</h5></td>
                <td><input type="text" name="Officer_mobile" maxlength="11" value="@Model.Officer_mobile" required /></td>
            </tr>
            <tr>
                <td><h5>Balance</h5></td>
                <td><input type="number" name="Officer_Balance" value="@Model.Officer_Balance" readonly /></td>
            </tr>
            <tr>
                <td><h5>Salary</h5></td>
                <td><input type="number" name="Officer_Salary" value="@Model.Officer_Salary" readonly /></td>
            </tr>

            <tr>
                <td><h5>Branch</h5></td>
                <td><input type="text" name="Officer_branch" value="@Model.Officer_branch" readonly /></td>
            </tr>
            <tr>
                <td colspan="2"><input style="background-color: #3ac4ee;border-radius: 2px;" type="submit" name="Save" /></td>
            </tr>
        </tbody>
    </table>
</form>

