@model IEnumerable<MVCRepository.LInfo>

@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_loanlayout.cshtml";
}

<h2>Active</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_acc_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountTo_Pay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest_Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan_Amount_Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan_Deadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_acc_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loan_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountTo_Pay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest_Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loan_Amount_Paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loan_Deadline)
        </td>
    </tr>
}

</table>
