@model MVCRepository.LoanOfficer

@{
    ViewBag.Title = "Home1";
    Layout = "~/Views/Shared/_loanlayout.cshtml";
}

<h2>Home</h2>

<div>
    <h4>LoanOfficer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOfficer_branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOfficer_branch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LOfficer_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
